html,body {
	width: 100%;
	/*height: 100%;*/
}

header {
	width: 100%;
	height: 80px;
	background-color: rgba(0,0,0,.7);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1px auto;
	box-shadow: 0 0 15px 5px rgba(0,0,0,.7);
}
.header-test { 
	/*border: 1px solid #000;*/
	padding: 0 200px 0px 100px;
	text-align: center;
	font: 28px "微软雅黑";
	letter-spacing: .05em;
	color: white;
	text-shadow: 0px 0 5px white;
}
header span {
	font-size: 16px;
	color: rgba(255,255,255,.8);
}

.nav {
	margin: 1px 0px;
	border: 1px solid transparent;
	padding: 0 80px;
	background-color: rgba(0,0,0,.7);
}
.nva-contter {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	font-size: 16px;
	vertical-align: middle;
	
	box-shadow: 0 0 15px 5px rgba(0,0,0,.7);
	
}
.nva-contter>div>a {
	display: inline-block;
	/*border: 1px solid #000;*/
	padding: 15px 8px;
	margin-left: 1px;
	color: rgba(255,255,255,.8) ;
}

.nva-contter>div>a:hover {
	background-color:rgba(0,0,0,.7) ;
	color: white;
}
.contter {
	margin: 10px 0;
	/*border: 1px solid #000;*/
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 0 0 0 10px;
}
.contter-left {
	width: 260px;
	height: 100%;
	/*border: 1px solid #000;*/
	flex-shrink: 0;
}


/*滑动菜单栏*/
#accordion {
	padding: 8px 8px ;
	background-color: rgba(0,0,0,.7);
	color: rgba(255,255,255,.8);
	box-shadow: -3px 0 10px 3px rgba(0,0,0,.7) ;
}
#accordion>h3 {
	font-size: 16px;
	color: white;
	background: rgba(0,0,0,.7);
}
.contter-p {
	margin: 5px 0;
	font-size: 14px;
}
.contter-right {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.7);
	box-shadow: 3px 0 10px 3px rgba(0,0,0,.5) ;
	overflow: hidden;
	margin-right: 10px;
	padding-left: 10px;
}
.fd {
	margin: 8px ;
	width: 260px;
	/*height: 400px;*/
	color: white;
	border: 1px solid rgba(255,255,255,.2);
	float: left;
	font-size: 16px;
}
.fd p {
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: left;
	margin: 0 0 0 15px;
}

.fd a{
	color: white;
}
iframe {
	width: 100%;
	height: 800px;
}

